<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949749564887-64h0epu2a7jfsm0ae7af96qs2a6h2crj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949749564887-64h0epu2a7jfsm0ae7af96qs2a6h2crj</string>
	<key>API_KEY</key>
	<string>AIzaSyCVKFSAKrOVkN2qT9LA1IYpQqfdrjTWjN4</string>
	<key>GCM_SENDER_ID</key>
	<string>949749564887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betsquad.betsquad</string>
	<key>PROJECT_ID</key>
	<string>betsquad-314ef</string>
	<key>STORAGE_BUCKET</key>
	<string>betsquad-314ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949749564887:ios:58477eeba1daffec91f792</string>
	<key>DATABASE_URL</key>
	<string>https://betsquad-314ef.firebaseio.com</string>
</dict>
</plist>